<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
</head>
<body>
    <header>
        <h1>Productos</h1>
        <p>Bienvenido, {{user.name}} ({{user.role}})</p>
        <form action="/logout" method="GET">
            <button type="submit">Cerrar Sesión</button>
        </form>
    </header>
    
</body>
</html>
